body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #949393;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
}
.title{
    width: 96%;
    height: 15vw;
    margin-bottom: 1vw;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    margin-top: 1vw;
    position: relative;
}
.title h1{
    color: gray;
    font-size: 9vw;
    font-family: cursive;
}
.title p{
    position: absolute;
    right: 0;
    bottom: 0;
    color: gray;
    font-size: 2.5vw;
    padding: 1vw;
    font-family: sans-serif;
}
canvas {
    touch-action: none;
    border-radius: 1vw;
    border: 1px solid black;

}

.controls {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 15vw;
    border-radius: 1vw;
    background-color: #1d1d1d;
    gap: 2.3vw;
    padding: 1vw;
}

#colorPicker{
    display: none;
}

span {
    width: 15vw;
    height: 8vw;
    font-size: 3vw;
    background: none;
    color: rgb(190, 189, 189);
    border:  1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
}
span:active{
    transform: scale(.8);
}
